@tailwind base;
@tailwind components;
@tailwind utilities;




.fc-event-dot {
  display: none !important;
}

.fc-daygrid-day-selected {
  @apply bg-blue-100 border-2 border-blue-500;
}

.fc-toolbar {
  @apply bg-gray-200 p-4 rounded-md shadow-md;
}

.fc-button {
  @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600;
}

.fc-button.fc-today-button {
  @apply bg-orange-500 hover:bg-orange-600;
}

.calendar-day-cell {
  border: 2px solid black; /* สีเส้นขอบ */
  border-radius: 4px; /* มุมโค้ง */
  background-color: white; /* สีพื้นหลัง */
  transition: background-color 0.3s; /* เอฟเฟกต์เมื่อ hover */
}

.calendar-day-cell:hover {
  background-color: #f5f5f5; /* สีพื้นหลังเมื่อ hover */
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
