@tailwind base;
@tailwind components;
@tailwind utilities;


.fc-event-dot {
  display: none !important;
 
}

.fc-daygrid-day-selected {
  @apply bg-orange-200;
 
}

.fc-toolbar {
  @apply bg-orange-200 p-4 shadow-md rounded-xl;
 
  
}

.fc-button {
  @apply  text-white px-4 py-2 rounded-lg;

}

.fc-button.fc-today-button {
  @apply bg-orange-500 hover:bg-orange-600;
   
  
}

.calendar-day-cell {
  border: 2px solid black; /* สีเส้นขอบ */
  border-radius: 10px; /* มุมโค้ง */
  background-color: white; /* สีพื้นหลัง */
  transition: background-color 0.3s; /* เอฟเฟกต์เมื่อ hover */
 
  
}

.calendar-day-cell:hover {
  background-color: #f5f5f5; /* สีพื้นหลังเมื่อ hover */
  
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fc-more-popover {
  height: 30%; /* กำหนดความสูงสูงสุดเพื่อป้องกันไม่ให้ popup เลยออกไป */
  overflow-y: auto; /* ถ้ามีเหตุการณ์จำนวนมาก ให้แสดง scrollbar */
  background-color: white; /* สีพื้นหลังให้แยกชัดเจน */
  border-radius: 10px; /* ทำให้ขอบของ popup ดูสวยงาม */
  padding: 10px; /* เพิ่ม padding ภายใน popup */
}

.fc-popover-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
 
}

.donate {
  z-index: 999;
}

